.buttonTriangle{
    z-index: 10;
    bottom: 0;
    left: 0;
    padding: 0;
    background-color: transparent;
    position: fixed;
    border: 30px solid transparent;
    border-bottom: 30px solid blue;
    border-left: 30px solid blue;
}

